:root {
  --nhs-blue: #005EB8
}

.md-footer-meta {
  background-color: transparent !important;
  box-shadow: none;
}

.md-footer-meta::before {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--nhs-blue);
}

.md-footer-meta.md-typeset a svg {
  transition: transform 0.2s ease, filter 0.2s ease;
}

.md-footer-meta.md-typeset a:hover svg {
  transform: scale(1.12);
  filter: brightness(1.2) drop-shadow(0 0 6px rgba(30, 136, 229, 0.7));
}

/* Light mode */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: var(--nhs-blue);
  --md-footer-bg-color: var(--md-default-bg-color);
  --md-footer-fg-color: #000000;
  --md-footer-fg-color--light: #333333;
  --md-footer-fg-color--lighter: #555555;
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:var(--nhs-blue);
  --md-footer-bg-color: var(--md-default-bg-color);
  --md-footer-fg-color: #e0e0e0;
  --md-footer-fg-color--light: #bdbdbd;
  --md-footer-fg-color--lighter: #9e9e9e;
}
