name: Publish Documentation

on:
  push:
    branches: main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install extra dependencies for a python install
        run: |
          sudo apt-get update
          sudo apt -y install --no-install-recommends liblzma-dev libbz2-dev libreadline-dev

      - name: Install asdf cli
        uses: asdf-vm/actions/setup@v4

      - name: Install software through asdf
        uses: asdf-vm/actions/install@v4

      - name: reshim asdf
        run: asdf reshim

      - name: ensure poetry using desired python version
        run: poetry env use $(asdf which python)

      - run: mkdocs gh-deploy --force
